@import url('https://fonts.googleapis.com/css?family=Montserrat:500');



*{

    box-sizing: border-box;

    margin: 0;

    padding: 0;

}





/* --------- NAVBAR ------------- */







.navbar a{

    font-family: 'Montserrat', sans-serif;

    font-weight: 400;

    font-size: 16px;

    color: black;

    text-decoration: none;



}



header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 30px 10% ;

}



.Menu {

    display: none;

    font-family: 'Montserrat', sans-serif;

    font-weight: 400;

    font-size: 16px;

    color: black;

    list-style-type: none;

}



.logo {

    cursor: pointer;

    text-decoration: none;

    width: 50px;

    height: 50px;

}



.lienNav a{

    text-decoration: none;

}



.lienNav li{

    display: inline-block;

    padding: 0px 20px;

}



.lienNav li{

    transition: all 0.3s ease 0s;

}



.lienNav li a:hover{

    color:aqua;

}

.PanierImg {
    height: 30px;
}



.NavButton {

    padding: 9px 25px;

    background-color: aqua;

    border: none;

    border-radius: 50px;

    cursor:pointer;

    transition: all 0.3s ease 0s;

    color: white;

}



.NavButton:hover{

    background-color: blue;

}





/* ----------- SLIDE ---------------- */



.slider {

    height: 50vh;

    position: relative;

}



.slider img {

    object-fit: cover;

    height: 100%;

    width: 100%;

    position: absolute;

    top: 0;

    opacity: 0;

    left: 0;

    transition: opacity 1s;

}



.slider img.active {

    opacity: 1;

}



/* ----------- TEXTBOX ----------- */



.info-text {

    display: flex;

    flex-direction: row;

    padding: 10%;

    justify-content: space-between;

    text-align: center;

    

}



.info-text li {

    padding: 2%;

    width: 300px;

    font-family: 'Montserrat', sans-serif;

}



.info-text ul {

    list-style-type: none;

    display: flex;

    flex-direction: column;

    align-items: center;

}



.info-text a {

    text-decoration: none;

}



.info-text .Bouton {

    padding: 5px;

    background-color: rgb(163, 144, 144);

    border-radius: 7px;

    text-transform: uppercase;

    color: aqua;

}





.title-text {

    font-size: 22px;

}



.content-text {

    font-size: 12px; 

}



.avis-text {

    font-style: italic;

}



#AvisGisele {

    width: 250px;

}



.copy {

    font-size: 10px;

}



/* ------------------  RESPONSIVE  -------------------  */



@media only screen and (max-width: 1020px) {

    .info-text {

        flex-direction: column;

    }

}



@media only screen and (max-width: 1020px) {

    .lienNav {

        display: flex;

        flex-direction: column;

    }

    .Menu {

        display: flex;

        font-size: 20px;

        text-align: center;

        justify-content: center;

    }

    .lienNav {

        display: none;

    }

    .lienNav li:hover{

        display: block;

    }

}


/*------------------ BOUTIQUE ------------------*/


.BoutiqueBox { 
    margin-top:5%;
    margin-left: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 610px;
    height: 30px;
    box-shadow: 1px 1px 12px  rgb(157, 157, 148);
    font-family: 'Montserrat', sans-serif;
}

.BoutiqueBox input {
    width: 100px;
    height: 30px;
}

.ButtonBoutique {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
    cursor: pointer;
}

.ButtonBoutique:hover {
    background-color: aqua;
    transition-duration: 1s;
}

/*------------------ PAIEMENT ------------------*/

.credit-card {
    width: 360px;
    height: 400px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}
 
.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}

.title-card {
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}

.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: #86939e;
}

/* Card Number */
.card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background-position: 85% 50%;

}
 
.month select {
    float: left;
}
 
.year select {
    float: right;
}

.cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
}
 
.cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}
 
.cvv-details p {
    margin-top: 6px;
}

.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    background: #7dc855;
}
 
.proceed-btn a {
    text-decoration: none;
}
 
.proceed-btn a {
    color: #fff;
}

.ReturnBoutique { 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------ End Of Payement ------------------*/

.PayementRefused {
    background-color: rgb(155, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-family: 'Montserrat',sans-serif;
}

.PayementAccepted {
    background-color: rgb(7, 191, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-family: 'Montserrat',sans-serif;
}