@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}


/* --------- NAVBAR ------------- */

.navbar a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.Menu {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    list-style-type: none;
}

.logo {
    cursor: pointer;
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.lienNav a {
    text-decoration: none;
}

.lienNav li {
    display: inline-block;
    padding: 0px 20px;
}

.lienNav li {
    transition: all 0.3s ease 0s;
}

.lienNav li a:hover {
    color: aqua;
}

.NavButton {
    padding: 9px 25px;
    background-color: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}

.NavButton:hover {
    background-color: blue;
    color: white;
}

.PanierImg {
    height: 30px;
}


/* ----------- SLIDE ---------------- */

.slider {
    height: 50vh;
    position: relative;
}

.slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    transition: opacity 1s;
}

.slider img.active {
    opacity: 1;
}

/* ----------- TEXTBOX ----------- */

.info-text {
    display: flex;
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;
    text-align: center;

}

.info-text li {
    padding: 2%;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.info-text ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text a {
    text-decoration: none;
}

.info-text .Bouton {
    padding: 5px;
    background-color: rgb(163, 144, 144);
    border-radius: 7px;
    text-transform: uppercase;
    color: aqua;
}


.title-text {
    font-size: 22px;
}

.content-text {
    font-size: 12px;
}

.avis-text {
    font-style: italic;
}

#AvisGisele {
    width: 250px;
}

.copy {
    font-size: 10px;
}

/* ------------------  RESPONSIVE  -------------------  */

@media only screen and (max-width: 1020px) {
    .info-text {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1020px) {
    .lienNav {
        display: flex;
        flex-direction: column;
    }

    .Menu {
        display: flex;
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }

    .lienNav {
        display: none;
    }

    .lienNav li:hover {
        display: block;
    }
}